#main-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#chat-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    flex: 1;
    overflow-y: auto;
}

#messages > li {
    padding: 0.5rem 1rem;
}

#messages > li:nth-child(odd) {
    background: #efefef;
}

#form {
    display: flex;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.1);
    border-top: 1px solid #ccc;
}

#input {
    flex-grow: 1;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 1px solid #ccc;
}

#form > button {
    background: #333;
    border: none;
    color: white;
    padding: 0 1rem;
    margin-left: 0.5rem;
    border-radius: 4px;
}

#user-list {
    width: 200px;
    background-color: #f3f3f3;
    border-left: 1px solid #ccc;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
}

#user-list h3 {
    margin-top: 0;
}

#users {
    list-style: none;
    padding: 0;
    margin: 0;
}

#users li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}
  
#home-container {
    margin-top: 100px;
    text-align: center;
}
  
#name-input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
button {
    margin-left: 10px;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
}
